---
layout: default
title: Bienvenue au Lava JUG
---


            {% assign landings = site.pages | sort: 'order' %}
            {% for landing in landings  %}
            {% if landing.type == 'landing' %}
                <section class="block">
                    <div class="heading">                    
                        <h1>{{ landing.title }}</h1>
                        <div class="clearfix"></div>
                    </div>
                    <div class="content">
                          {{ landing.content | markdownify }}
                    </div>
                </section>
            {% endif %}
            {% endfor %}

            {% assign posts = site.posts | reverse %}
            {% assign counter = 0 %} 
            {% assign loaded = false %}
            {% for post in posts %}
            {% if post.pending %}
                <section class="block">
                  <div class="heading">
                      <div class="date-container">
                         <div class="date">
                             <span class="day" >{{ post.date | date: "%d" }}</span>
                             <span class="year" >{{ post.date | date: "%Y" }}</span>
                             <span class="month" >{{ post.date | date: "%b" }}</span>
                        </div>
                      </div>
                      <h2>{{ post.title }}</h2>
                      <div class="clearfix"></div>
                  </div>
                  <div class="content">

                          {% if post.online == true %}
                          <div id="bigmarker-conference-widget-container1a93643802fb" style="margin: 1em auto;width: 320px;"></div>
                          <script src="https://www.bigmarker.com/widget/register_widget.js?club=lavajug&conference=1a93643802fb&widget_type=image_register&series_register=&upcoming_sub_title=&live_sub_title=&rec_sub_title=&upcoming_button_text=&live_button_text=&rec_button_text=&link_to_channel=true&widget_width=&widget_height=&enable_iframe=true&background_color=ffffff&btext_color=2d374d&link_color=94C11F&ltext_color=ffffff&redirect_to_confirmation_page=false&widget_button_registered_content=&cid=37507b594850" type="text/javascript"></script>
                          {% endif %}

                          {{ post.content }}
                          <br/>             
                          {% if post.sponsors.size > 0 %}           
                          <h4>Sponsors</h4>
                          {% if post.online == true %}
                          <p>Cette soirée n'aurait pas pu avoir lieu sans le support de nos sponsors. Merci à eux!</p>
                          {% else %}
                          <p>Comme d'habitude la soirée se clôturera par un buffet gracieusement offert par nos sponsors afin de poursuivre les échanges dans un cadre plus informel.</p>
                          {% endif %}
                          <div class="sponsors">
                          {% for sponsor in post.sponsors %}
                              <a href="{{site.data.sponsors[sponsor].url}}" target="_blank"><img src="{{site.data.sponsors[sponsor].logo}}" alt="{{sponsor}}" ></a>
                          {% endfor%}
                          </div>
                          {% endif %}
			                    {% if post.location  %}
                          <h4>Comment venir</h4>
                          <div>
                            {% assign room = site.data.rooms[post.location] %}
                            {% include room.html %}
                          </div>
			                    {% endif %}
                          {% if post.eventbriteId  %}
                          <br/>
                          <h4>Inscription</h4>                            
                          <div class="ml">
                            <a href="https://www.eventbrite.fr/e/{{ post.eventbriteId }}" class="btn btn-default">S'inscrire ici</a>
                          </div>                         
                          {% endif %}
                          {% if post.mobilizonId  %}
                          <br/>
                          <h4>Inscription</h4>
                          <div class="ml">
                            <a href="https://mobilizon.fr/events/{{ post.mobilizonId }}" class="btn btn-default">S'inscrire ici</a>
                          </div>
                          {% endif %}                          


                  </div>
                </section>
            {% endif %}
            {% endfor %}
            

