<aside class="block">
  <div class="sponsors">
    <div class="heading">
        <h2>Social</h2>
    </div>
        <a href="https://twitter.com/lavajug" target="_blank">
            <img src="/assets/images/social/logo-twitter.png" alt="Twitter du Lava JUG"/>
        </a>
        <a href="https://github.com/LavaJUG" target="_blank">
            <img src="/assets/images/social/logo-github.png" alt="GitHub du Lava JUG"/>
        </a>
        <a href="https://www.youtube.com/c/lavajug" target="_blank">
          <img src="/assets/images/social/logo-youtube.png" alt="Chaine YouTube du Lava JUG"/>
        </a>
        <a href="https://shop.spreadshirt.fr/lavajug/" target="_blank">
          <img src="/assets/images/social/logo-spreadshirt.png" alt="Boutique du Lava JUG"/>
        </a>
  </div>
</aside>

<aside class="block">
  {% include sponsors.html %}
</aside>

<aside class="block">
  <div class="sponsors">
    <div class="heading">
        <h2>Conf</h2>
    </div>
        <a href="https://www.volcamp.io" target="_blank">
          <img src="/assets/images/conf/volcamp.png" alt="Volcamp"/>
        </a>
        <br/>
        <br/>
        <a href="https://mixitconf.org/fr/" target="_blank">
            <img src="/assets/images/conf/mixit.png" alt="MixIT"/>
        </a>
        <br/>
        <br/>
        <a href="https://www.devoxx.fr/" target="_blank">
            <img rc="/assets/images/conf/devoxx_france.png" alt="DevoxxFR"/>
        </a>
  </div>
</aside>

<aside class="block">
  {% include partenaires.html %}
</aside>
                              
